{% extends 'product/product_base.html.twig' %}

{% block content_block %}
  <div>
    <div class="title">
      <h1>
        {{edit ? 'Edit' : 'Add' }}
        Categories
      </h1>
      <a href="/logout">Logout</a>
    </div>
    {% if edit %}
      <button onclick={add()}>Add New</button>
      <a href={{path('add_category')}} id="add_link" hidden="hidden">add</a>
    {% endif %}

  </div>
  <div class="form">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>
  <div>
    <h3>
      All Items
    </h3>
    {% for category in categories %}
      <p>
        Category:
        {{ category.name }}
        -
        {{category.description}}
        <a href={{path('remove_category', {'categoryName': category.name} )}}>
          delete
        </a>
        <a href={{path('edit_category', {'categoryName': category.name} )}}>
          edit
        </a>
      </p>
    {% endfor %}
  </div>
{% endblock %}