{% extends 'base.html.twig' %}

{% block body %}
    <nav>
      <a href={{path('add_product')}}>product</a>
      <a href={{path('add_category')}}>category</a>
    <nav>
    {% block content_block %} {% endblock %}
{% endblock %}

{% block stylesheets %}
  <style>
    body {
      background-color: #ddd;
    }
    div .title {
      display: flex;
      justify-content: space-between;
    }
    p {
      background-color: #eee;
      margin: 1rem;
      border-style: solid;
      border-color: black;
      border-width: 2px;
      padding: 2px;
      width: 80%;
      line-height: 2rem;
    }
    div .form {
      margin: auto;
    }
    form {
      background-color: #eee;
      max-width: 75%;
      margin: auto;
    }
    form input {
      padding:5px:
    }
    div #app_product , div #app_category{
      margin: auto;
      padding: 10px;
      border: 3px solid black;
    }
    form div div {
      margin: 1em;
      display: flex;
      flex-direction: right;
      justify-content: space-between;
      width: 50%;
    }
    p a {
      font-style: bold;
      padding: 0 2px;
    }
  </style>
{% endblock %}

{% block javascripts %}
  <script>
    function add() {
      document.getElementById('add_link').click();
    }
  </script>
{% endblock %}