{% extends 'product/product_base.html.twig' %}

{% block content_block %}
    <div>
        <div class="title">
            <h1> {{edit ? 'Edit' : 'Add' }} Products </h1>
            <a href="/logout">Logout</a>
        </div>
        {% if edit %}
            <button onClick={add()}>Add New</button>
            <a href={{path('add_product')}} id="add_link" hidden>add</a>
        {% endif %}

    </div>
    <div class="form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <p>{{event? 'Event Triggered' : ''}}</p>
    <a href={{path('add_product')}}?trigger=1> Trigger Event </a>
    <a href={{path('add_product')}}> Hide Event </a>
    <div>
        <h3> All Items </h3>
        {% for product in products %}
            <p>
               Product: {{ product.name }} - {{product.description}} - price: {{product.price}}
               <a href={{path('remove_product', {'productName': product.name})}}> delete </a> 
               <a href={{path('edit_product', {'productName': product.name})}}> edit </a>
               [<strong> {{ product.category.getCategory()}} </strong>]
            </p>
        {% endfor %}
    </div>
{% endblock %}