{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="login_form">
<h2>
  Login
</h2>
<form action="{{ path('login') }}" method="post">
    <div>
      <label for="username">email:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}"/>
    </div>
    <div>
      <label for="password">Password:</label>
  <input type="password" id="password" name="_password"/>
    </div>
        <input type="hidden" name="_target_path" value="/product" />
    <div>
      <button type="submit">login</button>
    </div>
    </form>
</div>
{% endblock %}

{% block stylesheets %}
    <style>
    h2 {
        text-align:center;
    }
    .login_form {
        margin: auto;
        margin-top: 100px;
        border: 3px solid black;
        border-radius: 3px;
        width: 40%;
        min-height: 100px;
    }
    form {
        margin : auto;
        text-align:center;
    }
    form div{
        margin: 1rem;
        display:flex;
        justify-content: space-between;
        width: 60%;
    }
    </style>
{% endblock %}